<ion-header>

  <ion-navbar>
    <ion-title>Home Healthcare<ion-icon name="md-log-out" (click)="logOut()" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg_image">

  <ion-card class="login_form">

    <ion-card-content>
      <ion-slides autoplay="3000" pager loop>

        <ion-slide>
          <img src="assets/imgs/14.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/5.jpg" />
        </ion-slide>

      </ion-slides>
      <ion-list>

        <ion-item class="select_box mand">
          <ion-label>Home Healthcare list</ion-label>
          <ionic-selectable item-content [isMultiple]="true" [(ngModel)]="port" [items]="ports" itemValueField="name"
            itemTextField="name" [canClear]="true" [canSearch]="true" (onChange)="portChange($event)" #portComponent>
          </ionic-selectable>
        </ion-item>


        <ion-item class="select_box mand">
          <ion-label>Do you need medical equipment?</ion-label>
          <ion-select [(ngModel)]="equipment" cancelText="Cancel" okText="OK">
            <ion-option value="yes">Yes</ion-option>
            <ion-option value="no">No</ion-option>

          </ion-select>
        </ion-item>
        <ion-item class="mand">
          <ion-input type="text" placeholder="Address" [(ngModel)]="address" name="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea
            placeholder="Comments if any (Patient's Name & Mobile No., Doctor's Name & Mobile No. & Mention in short patient's problems etc...)"
            #myInput id="myInput" rows="5" maxLength="500" (keyup)="resize()" [(ngModel)]="message"></ion-textarea>
        </ion-item>



      </ion-list>

      <p class="attach_note">If more than 8 pages attachment, you can email us <b>asknowhelpdesk@gmail.com</b></p>
      <button ion-button block (click)="presentActionSheet()" color="purple"> Attach Report/Prescription &nbsp; <ion-badge color="secondary" *ngIf="attachmentImg">{{attachmentImg.length}}</ion-badge></button>
      <span *ngIf="attachmentImg"><strong>{{attachmentImg.length}}</strong> Prescription attached</span>

      <ion-grid class="attach_grid">
        <ion-row>
          <ion-col *ngFor="let imgVal of attachmentImg; let index = index" col-6>
            <div class="attach_img_cont"><img src="data:image/jpeg;base64,{{imgVal}}"/></div>
            <div class="attach_img_btns">
                <button ion-button color="secondary" (click)="viewImg(imgVal)"><ion-icon name="ios-expand-outline"></ion-icon></button>
                <button ion-button color="danger" (click)="deleteImg(index)"><ion-icon name="ios-trash"></ion-icon></button>
            </div>
            </ion-col>
        </ion-row>
        </ion-grid>

      <button ion-button block (click)="submitOrder()"> Submit</button>
      <div class="footer_img">
        <img src="assets/imgs/15.jpg" />
      </div>
    </ion-card-content>
  </ion-card>




</ion-content>


<div class="custom_loader" *ngIf="loaderShow">
  <img src="assets/imgs/spinner.gif">
</div>