<ion-header>

  <ion-navbar>
    <ion-title>One Click<ion-icon name="md-log-out" (click)="logOut()" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="bg_image">
  <ion-card>
    <ion-card-content>
      <ion-slides autoplay="3000" pager loop>

        <ion-slide>
          <img src="assets/imgs/17.jpg" />
        </ion-slide>


      </ion-slides>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Patient's Name" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Patient's Mobile No." [(ngModel)]="checkup" name="checkup"></ion-input>
        </ion-item>


        <ion-item>
          <ion-textarea placeholder="Help us if describe more about Patient's problems or any medications" #myInput id="myInput" rows="6" maxLength="500" (keyup)="resize()"
            [(ngModel)]="message"></ion-textarea>
        </ion-item>



      </ion-list>
      <p class="attach_note">If more than 2 pages attachment, you can email us <b>asknowhelpdesk@gmail.com</b></p>
      <button ion-button block (click)="presentActionSheet()" color="purple"> Attach Report/Prescription</button>
      <span *ngIf="attachmentImg">Prescription attached</span>

      <button ion-button block (click)="submitOrder()"> Submit</button>

      <div class="footer_img">
        <img src="assets/imgs/15.jpg" />
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<div class="custom_loader" *ngIf="loaderShow">
  <img src="assets/imgs/spinner.gif">
</div>