<ion-header>

  <ion-navbar>
    <ion-title>Online Appointment<ion-icon name="md-log-out" (click)="logOut()" float-right></ion-icon></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg_image">
<ion-card class="login_form">

  <ion-card-content>
      <ion-slides autoplay="3000" pager loop>

          <ion-slide>
            <img src="assets/imgs/13.jpg"/>
          </ion-slide>
        
        </ion-slides>
  <ion-list>

  <ion-item>
            <ion-input clearInput placeholder="Doctor's Name" type="text" [(ngModel)]="doctorsSound"  name="name" ></ion-input>
            
          <button ion-button clear color="light" type="button" (click)="startDoctorListening()" item-right>
            <ion-icon name="ios-mic" *ngIf="!isdoctors"></ion-icon>
            <ion-icon name="ios-mic-off" *ngIf="isdoctors"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="select_box">
            <ion-label>Select Specialist</ion-label>
            <ion-select [(ngModel)]="checkup"  cancelText="Cancel" okText="Okay">
                    <ion-option  value='Cardiologist'>Cardiologist</ion-option>
                    <ion-option  value='Dentist'>Dentist</ion-option>
                    <ion-option  value='Dermatologist'>Dermatologist</ion-option>
                    <ion-option  value='Ear-Nose-Throat (ENT)'>Ear-Nose-Throat (ENT)</ion-option>
                    <ion-option  value='General Physician'>General Physician</ion-option>
                    <ion-option  value='General Surgeon'>General Surgeon</ion-option>
                    <ion-option  value='Gynaecologist'>Gynaecologist</ion-option>
                    <ion-option  value='Ophthalmologist'>Ophthalmologist</ion-option>
                    <ion-option  value='Orthopaedics'>Orthopaedics</ion-option>
                    <ion-option  value='Pediatrician'>Pediatrician</ion-option>
                    <ion-option  value='Physiotherapist'>Physiotherapist</ion-option>
                    <ion-option  value='Aesthetic Medicine'>Aesthetic Medicine</ion-option>
                    <ion-option  value='Aesthetic Surgeon'>Aesthetic Surgeon</ion-option>
                    <ion-option  value='Allergy/Immunologist'>Allergy/Immunologist</ion-option>
                    <ion-option  value='Anatomy'>Anatomy</ion-option>
                    <ion-option  value='Andrology and Sexual Medicine'>Andrology and Sexual Medicine</ion-option>
                    <ion-option  value='Anesthesiologist'>Anesthesiologist</ion-option>
                    <ion-option  value='Audiologist'>Audiologist</ion-option>
                    <ion-option  value='Aviation Medicine'>Aviation Medicine</ion-option>
                    <ion-option  value='Bariatric Surgeron'>Bariatric Surgeron</ion-option>
                    <ion-option  value='Bariatrics'>Bariatrics</ion-option>
                    <ion-option  value='Blood Banking & Tranfusion Medicine'>Blood Banking & Tranfusion Medicine</ion-option>
                    <ion-option  value='Cardiothoracic Vascular Surgeon'>Cardiothoracic Vascular Surgeon</ion-option>
                    <ion-option  value='Cosmetic Physician'>Cosmetic Physician</ion-option>
                    <ion-option  value='Cosmetic/Plastic Surgeon'>Cosmetic/Plastic Surgeon</ion-option>
                    <ion-option  value='Cosmetologist'>Cosmetologist</ion-option>
                    <ion-option  value='Critical Care Specialist'>Critical Care Specialist</ion-option>
                    <ion-option  value='Diabetic Foot Surgeon'>Diabetic Foot Surgeon</ion-option>
                    <ion-option  value='Diabetologist'>Diabetologist</ion-option>
                    <ion-option  value='Dietitian/Nutritionist'>Dietitian/Nutritionist</ion-option>
                    <ion-option  value='Embryologist'>Embryologist</ion-option>
                    <ion-option  value='Emergency Medicine'>Emergency Medicine</ion-option>
                    <ion-option  value='Endocrine Surgeon'>Endocrine Surgeon</ion-option>
                    <ion-option  value='Endocrinologist'>Endocrinologist</ion-option>
                    <ion-option  value='Epidemiologist'>Epidemiologist</ion-option>
                    <ion-option  value='Family Medicine'>Family Medicine</ion-option>
                    <ion-option  value='Forensic Medicine'>Forensic Medicine</ion-option>
                    <ion-option  value='Gastroenterologist'>Gastroenterologist</ion-option>
                    <ion-option  value='Genetics'>Genetics</ion-option>
                    <ion-option  value='Geriatrics'>Geriatrics</ion-option>
                    <ion-option  value='HIV Specialist'>HIV Specialist</ion-option>
                    <ion-option  value='Hematologist'>Hematologist</ion-option>
                    <ion-option  value='Hepatologist'>Hepatologist</ion-option>
                    <ion-option  value='IVF Speciality'>IVF Speciality</ion-option>
                    <ion-option  value='Infectious Disease Physician'>Infectious Disease Physician</ion-option>
                    <ion-option  value='Internal Medicine'>Internal Medicine</ion-option>
                    <ion-option  value='Laparoscopic Surgeon'>Laparoscopic Surgeon</ion-option>
                    <ion-option  value='Laser Medicine'>Laser Medicine</ion-option>
                    <ion-option  value='Liver Transplant Surgeon'>Liver Transplant Surgeon</ion-option>
                    <ion-option  value='Microbiologist'>Microbiologist</ion-option>
                    <ion-option  value='Mother and Child Care'>Mother and Child Care</ion-option>
                    <ion-option  value='Multi Speciality'>Multi Speciality</ion-option>
                    <ion-option  value='Nephrologist'>Nephrologist</ion-option>
                    <ion-option  value='Neurologist'>Neurologist</ion-option>
                    <ion-option  value='Neurosurgeon'>Neurosurgeon</ion-option>
                    <ion-option  value='Nuclear Medicine Physician'>Nuclear Medicine Physician</ion-option>
                    <ion-option  value='Obstetrics'>Obstetrics</ion-option>
                    <ion-option  value='Occupational Therapist'>Occupational Therapist</ion-option>
                    <ion-option  value='Oncologist'>Oncologist</ion-option>
                    <ion-option  value='Oncosurgeon'>Oncosurgeon</ion-option>
                    <ion-option  value='Oral And Maxillofacial Surgeon'>Oral And Maxillofacial Surgeon</ion-option>
                    <ion-option  value='Pain Management'>Pain Management</ion-option>
                    <ion-option  value='Palliative Medicine'>Palliative Medicine</ion-option>
                    <ion-option  value='Pathologist'>Pathologist</ion-option>
                    <ion-option  value='Histopathologist'>Histopathologist</ion-option>
                    <ion-option  value='Cytologist'>Cytologist</ion-option>
                    <ion-option  value='Pediatric Cardiologist'>Pediatric Cardiologist</ion-option>
                    <ion-option  value='Pediatric Neurology'>Pediatric Neurology</ion-option>
                    <ion-option  value='Pediatric Surgeon'>Pediatric Surgeon</ion-option>
                    <ion-option  value='Pediatric Oncosurgeon'>Pediatric Oncosurgeon</ion-option>
                    <ion-option  value='Pediatric Oncophysician'>Pediatric Oncophysician</ion-option>
                    <ion-option  value='Pharmacologist'>Pharmacologist</ion-option>
                    <ion-option  value='Physiologist'>Physiologist</ion-option>
                    <ion-option  value='Podiatrist'>Podiatrist</ion-option>
                    <ion-option  value='Preventive Medicine'>Preventive Medicine</ion-option>
                    <ion-option  value='Proctologist'>Proctologist</ion-option>
                    <ion-option  value='Psychiatrist'>Psychiatrist</ion-option>
                    <ion-option  value='Psychologist'>Psychologist</ion-option>
                    <ion-option  value='Pulmonologist'>Pulmonologist</ion-option>
                    <ion-option  value='Radiologist'>Radiologist</ion-option>
                    <ion-option  value='Respiratory Medicine'>Respiratory Medicine</ion-option>
                    <ion-option  value='Rheumatologist'>Rheumatologist</ion-option>
                    <ion-option  value='Rheumatology and Clinical Immunologist'>Rheumatology and Clinical Immunologist</ion-option>
                    <ion-option  value='Robotic Surgery'>Robotic Surgery</ion-option>
                    <ion-option  value='Sexologist'>Sexologist</ion-option>
                    <ion-option  value='Somnologist'>Somnologist</ion-option>
                    <ion-option  value='Speech Therapist'>Speech Therapist</ion-option>
                    <ion-option  value='Spine Surgeon'>Spine Surgeon</ion-option>
                    <ion-option  value='Spine and Pain Specialist'>Spine and Pain Specialist</ion-option>
                    <ion-option  value='Sports Medicine'>Sports Medicine</ion-option>
                    <ion-option  value='Super Speciality'>Super Speciality</ion-option>
                    <ion-option  value='Surgical Gastroenterologist'>Surgical Gastroenterologist</ion-option>
                    <ion-option  value='Surgical Oncologist'>Surgical Oncologist</ion-option>
                    <ion-option  value='Toxicologist'>Toxicologist</ion-option>
                    <ion-option  value='Trichologist'>Trichologist</ion-option>
                    <ion-option  value='Urologist'>Urologist</ion-option>
                    <ion-option  value='Vascular Surgeon'>Vascular Surgeon</ion-option>
                    <ion-option  value='Venereologist'>Venereologist</ion-option>
                    <ion-option  value='Veterinary '>Veterinary </ion-option>
                    <ion-option  value='Acupressure'>Acupressure</ion-option>
                    <ion-option  value='Acupuncture'>Acupuncture</ion-option>
                    <ion-option  value='Alternative Medicine'>Alternative Medicine</ion-option>
                    <ion-option  value='Ayurveda'>Ayurveda</ion-option>
                    <ion-option  value='Ayush'>Ayush</ion-option>
                    <ion-option  value='Homeopathy'>Homeopathy</ion-option>
                    <ion-option  value='Integrative Medicine'>Integrative Medicine</ion-option>
                    <ion-option  value='Siddha'>Siddha</ion-option>
                    <ion-option  value='Unani'>Unani</ion-option>
                    <ion-option  value='Yoga & Ayurveda'>Yoga & Ayurveda</ion-option>
                    <ion-option  value='Yoga & Naturopathy'>Yoga & Naturopathy</ion-option>
                    <ion-option  value='Other Specialities'>Other Specialities</ion-option>
                    <ion-option  value='Non-Invasive Conservative Cardiac Care'>Non-Invasive Conservative Cardiac Care</ion-option>
                    <ion-option  value='Non-invasive Cardiologist'>Non-invasive Cardiologist</ion-option>
                    <ion-option  value='BAMS Student'>BAMS Student</ion-option>
                    <ion-option  value='BDS Student'>BDS Student</ion-option>
                    <ion-option  value='BHMS Student'>BHMS Student</ion-option>
                    <ion-option  value='BOPT Student'>BOPT Student</ion-option>
                    <ion-option  value='BPTh Student'>BPTh Student</ion-option>
                    <ion-option  value='BUMS Student'>BUMS Student</ion-option>
                    <ion-option  value='MBBS Student'>MBBS Student</ion-option>
                    <ion-option  value='Undergraduate Student'>Undergraduate Student</ion-option>
                    <ion-option  value='Veterinary Student'>Veterinary Student</ion-option>
              
            </ion-select>
          </ion-item>
          <ion-item>
                <ion-input clearInput placeholder="Patient Name" type="text" [(ngModel)]="appointSound"   name="appoint" ></ion-input>
            
                <button ion-button clear color="light" type="button" (click)="startAppointListening()" item-right>
                  <ion-icon name="ios-mic" *ngIf="!isappoint"></ion-icon>
            <ion-icon name="ios-mic-off" *ngIf="isappoint"></ion-icon>
                </button>
              </ion-item>

              <ion-item>
                  <ion-input clearInput placeholder="Patient Mobile Number" type="text" [(ngModel)]="patientMobile"   name="patientMobile" ></ion-input>
              
                </ion-item>
            <ion-item>
                  <ion-input clearInput placeholder="Hospital/Clinic address" type="text" [(ngModel)]="addressSound"  name="addresssound" ></ion-input>
              
                  <button ion-button clear color="light" type="button" (click)="startAddressListening()" item-right>
                    <ion-icon name="ios-mic" *ngIf="!isaddress"></ion-icon>
                    <ion-icon name="ios-mic-off" *ngIf="isaddress"></ion-icon>
                  </button>
                </ion-item>

              <ion-item>
                  <button ion-button clear color="light" type="button" item-left>
                    <ion-icon name="ios-calendar-outline"></ion-icon>
                    </button>
                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
                </ion-item>
                <ion-item class="timeAppoint">
                  <button ion-button clear color="light" type="button" item-left>
                    <ion-icon name="ios-calendar-outline"></ion-icon>
                    </button>
                    <ion-datetime displayFormat="hh:mm A" [(ngModel)]="myTime"></ion-datetime>
                </ion-item>
  <ion-item>
    <ion-textarea placeholder="Comments if any (Patient's Name & Mobile No, Doctor's Name & Mobile No. & Mention in short patient's problem etc...)" #myInput id="myInput" rows="6" maxLength="500" (keyup)="resize()"  [(ngModel)]="Comment"></ion-textarea>
</ion-item>



 

</ion-list>
<!-- <button ion-button full (click)="getPermission()">Get Permission</button>
	<button ion-button full (click)="startListening()">Start Listening</button>
	<button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button> -->
<button ion-button block (click)="presentActionSheet()" color="purple" > Attach Report/Prescription</button>
    <span *ngIf="attachmentImg">Prescription attached</span>
    <!-- <img *ngIf="attachmentImg" src="{{'data:image/png;base64,' + attachmentImg}}" width="100" (click)="viewImg(attachmentImg)">  -->
  <button ion-button block (click)="submitOrder()"> Submit</button>
  <div class="footer_img">
      <img src="assets/imgs/15.jpg"/>
    </div>
</ion-card-content>
</ion-card> 

</ion-content>


<div class="custom_loader" *ngIf="loaderShow">
<img src="assets/imgs/spinner.gif">
</div>





<!-- <ion-card>
    <ion-card-content>
      <ion-card-title>
        <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>
        <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{audio.filename}}</p>
      <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>
    </ion-item>
  </ion-list> -->