<ion-header>

  <ion-navbar>
    <ion-title>Health Checks<ion-icon name="md-log-out" (click)="logOut()" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg_image">

  <ion-card class="login_form">

    <ion-card-content>
      <ion-slides autoplay="3000" pager loop>

        <ion-slide>
          <img src="assets/imgs/9.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/10.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/4.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/11.jpg" />
        </ion-slide>

      </ion-slides>

      <ion-list>
        <ion-item class="select_box mand">
          <ion-label>Health Checkup Services</ion-label>
          <ionic-selectable item-content [isMultiple]="true" [(ngModel)]="port" [items]="ports" itemValueField="name"
            itemTextField="name" [canClear]="true" [canSearch]="true" (onChange)="portChange($event)" #portComponent>
          </ionic-selectable>
        </ion-item>
        <ion-item class="mand">
          <ion-input type="text" placeholder="Address" [(ngModel)]="address" name="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea
            placeholder="Help us if describe more (Patient's Name & Mobile No., Doctor's Name & Mobile No. & Mention in short patient's problems etc...)"
            #myInput id="myInput" rows="2" maxLength="500" (keyup)="resize()" [(ngModel)]="message"></ion-textarea>
        </ion-item>



      </ion-list>
      <p class="attach_note">If more than 2 pages attachment, you can email us <b>asknowhelpdesk@gmail.com</b></p>
      <button ion-button block (click)="presentActionSheet()" color="purple"> Attach Report/Prescription</button>
      <span *ngIf="attachmentImg">Prescription attached</span>

      <button ion-button block (click)="submitOrder()"> Submit</button>
      <div class="footer_img">
        <img src="assets/imgs/15.jpg" />
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<div class="custom_loader" *ngIf="loaderShow">
  <img src="assets/imgs/spinner.gif">
</div>