<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg_image">
    <figure>
        <img src="assets/imgs/logo.png"/>
      </figure>
  <ion-card>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <button ion-button clear color="light" type="button" item-left>
              <ion-icon name="ios-contact-outline"></ion-icon>
            </button>
            <ion-input clearInput placeholder="Mobile" type="phone"  [(ngModel)]="loginData.phone" ></ion-input>
        </ion-item>

        <ion-item>
          <button ion-button clear color="light" type="button" item-left>
              <ion-icon name="ios-lock-outline"></ion-icon>
            </button>
            <ion-input type="text" placeholder="Password" [(ngModel)]="loginData.password"  *ngIf="showPasswordText"></ion-input>
            <ion-input type="password" placeholder="Password" [(ngModel)]="loginData.password"  *ngIf="!showPasswordText" ></ion-input>
            <button ion-button clear color="light" type="button" item-right (click)="showPasswordText = !showPasswordText">
              <ion-icon name="eye"> </ion-icon>
            </button>
        </ion-item>


        <ion-item>
          <button ion-button clear color="light" type="button" item-left>
              <ion-icon name="ios-lock-outline"></ion-icon>
            </button>
            <ion-input type="text" placeholder="Confirm Password" [(ngModel)]="loginData.confirmpassword"  *ngIf="showPasswordText"></ion-input>
            <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="loginData.confirmpassword"  *ngIf="!showPasswordText" ></ion-input>
            <button ion-button clear color="light" type="button" item-right (click)="showPasswordText = !showPasswordText">
              <ion-icon name="eye"> </ion-icon>
            </button>
        </ion-item>

        <button (click)="forgotPassword()"  ion-button block >Submit</button>
        

        
        
      </ion-list>
    <ion-grid>
        <ion-row>
          <ion-col>
              <button ion-button full color="purple" (click)="register()">Register</button>
          </ion-col>
          <ion-col>
              <button ion-button full color="secondary" (click)="login()">Login</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<div class="custom_loader" *ngIf="loaderShow">
    <img src="assets/imgs/spinner.gif">
  </div>

