<ion-header>

    <ion-navbar>
      <ion-title>Home Health Care<ion-icon name="md-log-out" (click)="logOut()" float-right></ion-icon></ion-title>
    </ion-navbar>
  
  </ion-header>


  <ion-content padding class="bg_image">
    
  <ion-card class="login_form">

    <ion-card-content>
   
    <ion-list>
  
      <ion-item class="select_box">
        <ion-label>Home Health Care</ion-label>
        <ion-select [(ngModel)]="checkup" multiple="true" cancelText="Cancel" okText="Okay">
          <ion-option value="thyroid">Thyroid</ion-option>
          <ion-option value="diabetics">Diabetics</ion-option>
          <ion-option value="ultrasound">Ultrasound</ion-option>
          <ion-option value="cholestrol">Cholestrol</ion-option>
          <ion-option value="kidney">Kidney</ion-option>
          <ion-option value="iron">Iron</ion-option>
          <ion-option value="hemogram">Hemogram</ion-option>
          <ion-option value="vitamin">Vitamin</ion-option>
          <ion-option value="testosterone">Testosterone</ion-option>
          <ion-option value="cardic">Cardic</ion-option>
          <ion-option value="pancreas">Pancreas</ion-option>
          <ion-option value="electrolytes">Electrolytes</ion-option>
          <ion-option value="all">All types of test</ion-option>
          <ion-option value="any">Any Other</ion-option>
        </ion-select>
      </ion-item>
    
      
      <ion-item class="select_box">
        <ion-label>Do you need medical equipment?</ion-label>
        <ion-select [(ngModel)]="equipment"  cancelText="Cancel" okText="Okay">
          <ion-option value="yes">Yes</ion-option>
          <ion-option value="no">No</ion-option>
          
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Address" [(ngModel)]="address" name="address"></ion-input>
      </ion-item>
    <ion-item>
      <ion-textarea placeholder="Write about your health" #myInput id="myInput" rows="6" maxLength="500" (keyup)="resize()"  [(ngModel)]="message"></ion-textarea>
  </ion-item>
  
   
  
  </ion-list>
 
  <button ion-button block (click)="presentActionSheet()"> Attach Report/Prescription</button>
      <span *ngIf="attachmentImg">Prescription attached</span>
      <!-- <img *ngIf="attachmentImg" src="{{'data:image/png;base64,' + attachmentImg}}" width="100" (click)="viewImg(attachmentImg)">  -->
    <button ion-button block (click)="submitOrder()"> Submit</button>
  
  </ion-card-content>
  </ion-card> 

  
   

</ion-content>


<div class="custom_loader" *ngIf="loaderShow">
  <img src="assets/imgs/spinner.gif">
</div>