<ion-header>

  <ion-navbar>
    <ion-title>Second opinion<ion-icon name="md-log-out" (click)="logOut()" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg_image">

  <ion-card class="login_form">

    <ion-card-content>
      <ion-slides autoplay="3000" pager loop>

        <ion-slide>
          <img src="assets/imgs/12.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/3.jpg" />
        </ion-slide>

      </ion-slides>
      <ion-list>


        <ion-item>
          <ion-textarea
            placeholder="Help us if describe more (Patient's Name & Mobile No, Doctor's Name & Mobile No. (If you have) or we will suggest nation's or overseas best doctor for second openion also mention in detail patient's problem etc...)"
            #myInput id="myInput" rows="5" maxLength="500" (keyup)="resize()" [(ngModel)]="Comment"></ion-textarea>
        </ion-item>



      </ion-list>
      <p class="attach_note">If more than 2 pages attachment, you can email us <b>asknowhelpdesk@gmail.com</b></p>
      <button ion-button block (click)="presentActionSheet()" color="purple"> Attach Report/Prescription</button>
      <span *ngIf="attachmentImg">Prescription attached</span>

      <button ion-button block (click)="submitOrder()"> Submit</button>
      <div class="footer_img">
        <img src="assets/imgs/15.jpg" />
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>


<div class="custom_loader" *ngIf="loaderShow">
  <img src="assets/imgs/spinner.gif">
</div>